In [1]:
bob = ['Bob Smith', 42, 300000, 'software']
sue = ['Sue Jone', 45, 400000, 'hardware']

In [2]:
bob[0], sue[2]

('Bob Smith', 400000)

In [3]:
bob[0].split()[-1]

'Smith'

In [4]:
sue[2] *= 1.25
sue

['Sue Jone', 45, 500000.0, 'hardware']

## # A database list

In [9]:
people = [bob, sue]
for person in people:
    print(person)

['Bob Smith', 42, 300000, 'software']
['Sue Jone', 45, 500000.0, 'hardware']

In [10]:
people[1][0]

'Sue Jone'

In [11]:
for person in people:
    print(person[0].split()[-1])
    person[2] *= 1.20

Smith
Jone

In [12]:
for person in people: print(person[2])

360000.0
600000.0

In [14]:
pays = [person[2] for person in people]
pays

[360000.0, 600000.0]

In [15]:
pays = map((lambda x: x[2]), people)
list(pays)

[360000.0, 600000.0]

In [16]:
sum(person[2] for person in people)

960000.0

In [17]:
people.append(['Tom', 50, 0, None])
len(people)

3

In [18]:
people[-1][0]

'Tom'

## # Field labels

In [20]:
NAME, AGE, PAY = range(3) # 0, 1, and 2
bob = ['Bob Smith', 42, 10000]
bob[NAME]

'Bob Smith'

In [21]:
PAY, bob[PAY]

(2, 10000)

In [22]:
bob = [['name', 'Bob Smith'], ['age', 42], ['pay', 10000]]
sue = [['name','Sue Jones'], ['age', 45], ['pay', 20000]]
people = [bob, sue]

In [23]:
for person in people:
    print(person[0][1], person[2][1])

Bob Smith 10000
Sue Jones 20000

In [24]:
[person[0][1] for person in people]

['Bob Smith', 'Sue Jones']

In [25]:
for person in people:
    print(person[0][1].split()[-1])
    person[2][1] *= 1.10

Smith
Jones

In [26]:
for person in people: print(person[2])

['pay', 11000.0]
['pay', 22000.0]

In [27]:
def field(record, label):
    for (fname, fvalue) in record:
        if fname == label:
            return fvalue

In [28]:
field(bob, 'name')

'Bob Smith'

In [29]:
field(sue, 'pay')

22000.0

In [30]:
for rec in people:
    print(field(rec, 'age'))

42
45

## Using Dictionaries

In [35]:
bob = {'name': 'Bob Smith', 'age' : 42, 'pay' : 30000, 'job' : 'dev'}
sue = {'name' : 'Sue Jones', 'age' : 45, 'pay' : 40000, 'job' : 'hdw'}

In [36]:
bob['name'], sue['pay']

('Bob Smith', 40000)

In [37]:
bob['name'].split()[-1]

'Smith'

In [38]:
sue['pay'] *= 1.10
sue['pay']

44000.0

## Other ways to make dictionaries

In [3]:
bob = dict(name='Bob Smith', age=42, pay=30000, job='dev')
sue = dict(name='Sue Jones', age=45, pay=40000, job='hdw')

In [4]:
bob

{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}

In [5]:
sue = {}
sue['name'] = 'Sue Jones'
sue['age'] = 45
sue['pay'] = 40000
sue['job'] = 'hdw'
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [6]:
names = ['name','age','pay','job']
values = ['Sue Jones', 45, 40000, 'hdw']
list(zip(names, values))

[('name', 'Sue Jones'), ('age', 45), ('pay', 40000), ('job', 'hdw')]

In [7]:
sue = dict(zip(names, values))
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

## List of dictionries

In [8]:
bob

{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}

In [9]:
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [10]:
people = [bob, sue]
for person in people:
    print(person['name'], person['pay'], sep=', ')

Bob Smith, 30000
Sue Jones, 40000

In [11]:
for person in people:
    if person['name'] == 'Sue Jones':
        print(person['pay'])

40000

In [12]:
names = [person['name'] for person in people]
names

['Bob Smith', 'Sue Jones']

In [13]:
list(map((lambda x : x['name']), people))

['Bob Smith', 'Sue Jones']

In [14]:
sum(person['pay'] for person in people)

70000

In [15]:
[rec['name'] for rec in people if rec['age'] >=45] #SQL-ish query

['Sue Jones']

In [16]:
[(rec['age'] ** 2 if rec['age'] >= 45 else rec['age']) for rec in people]

[42, 2025]

In [18]:
G = (rec['name'] for rec in people if rec['age'] >= 45)
next(G)

'Sue Jones'

In [20]:
G = ((rec['age'] ** 2 if rec['age'] >=45 else rec['age']) for rec in people)
G.__next__()

42

In [22]:
for person in people:
    print(person['name'].split()[-1])
    person['pay'] *= 1.10

Smith
Jones

In [23]:
for perosn in people: print(perosn['pay'])

33000.0
44000.0

## Dictionaries of dictionaries

In [25]:
bob = dict(name='Bob Smith', age=42, pay=30000, job='dev')
sue = dict(name='Sue Jones', age=45, pay=40000, job='hdw')
bob

{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}

In [26]:
db = {}
db['bob']=bob
db['sue']=sue

In [27]:
db['bob']['name']

'Bob Smith'

In [28]:
db['sue']['name']

'Sue Jones'

In [29]:
db['sue']['pay'] = 50000
db['sue']['pay']

50000

In [30]:
db

{'bob': {'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'},
 'sue': {'name': 'Sue Jones', 'age': 45, 'pay': 50000, 'job': 'hdw'}}

In [31]:
import pprint
pprint.pprint(db)

{'bob': {'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 'sue': {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 50000}}

In [33]:
for key in db:
    print(key, '=>', db[key]['name'])

bob => Bob Smith
sue => Sue Jones

In [34]:
for key in db:
    print(key, '=>', db[key]['pay'])

bob => 30000
sue => 50000

In [36]:
for key in db:
    print(db[key]['name'].split()[-1])
    db[key]['pay'] *= 1.10

Smith
Jones

In [37]:
for record in db.values(): print(record['pay'])

33000.0
55000.00000000001

In [38]:
x = [db[key]['name'] for key in db]
x

['Bob Smith', 'Sue Jones']

In [39]:
x = [rec['name'] for rec in db.values()]
x

['Bob Smith', 'Sue Jones']

In [43]:
db['tom'] = dict(name = 'Tom', age=50, job=None, pay=0)
db['tom']

{'name': 'Tom', 'age': 50, 'job': None, 'pay': 0}

In [44]:
list(db.keys())

['bob', 'sue', 'tom']

In [45]:
len(db)

3

In [46]:
[rec['age'] for rec in db.values()]

[42, 45, 50]

In [47]:
[rec['name'] for rec in db.values() if rec['age'] >= 45]

['Sue Jones', 'Tom']